#### 1. Pick one of the datasets from the ChatBot session(s) of the **TUT demo** (or from your own ChatBot session if you wish) and use the code produced through the ChatBot interactions to import the data and confirm that the dataset has missing values<br>

In [24]:
import pandas as pd
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)
df.isna().sum()

row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

#### 2. Start a new ChatBot session with an initial prompt introducing the dataset you're using and request help to determine how many columns and rows of data a `pandas` DataFrame has, and then

1. use code provided in your ChatBot session to print out the number of rows and columns of the dataset; and,  
2. write your own general definitions of the meaning of "observations" and "variables" based on asking the ChatBot to explain these terms in the context of your dataset<br>

In [6]:
# ChatGPT gave me the code that can figure out the numbers of rows and columns
rows, cols = df.shape
df.shape

(391, 11)

2. Observation: The data shown on a single row is the observation. It shows different aspects of a spesific recorded object. For example, the diffrent types of information of one villager are in a row, and the villager is the observation.
   Variable:The data shown on a single column is the variable. It is a specific aspect of the collected data. In this dataset, the same aspect of different villagers are in one column, and the single aspect is a variable.

#### 3. Ask the ChatBot how you can provide simple summaries of the columns in the dataset and use the suggested code to provide these summaries for your dataset<br>

In [4]:
print(df.describe())

            row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000

#### 4. If the dataset you're using has (a) non-numeric variables and (b) missing values in numeric variables, explain (perhaps using help from a ChatBot if needed) the discrepancies between size of the dataset given by `df.shape` and what is reported by `df.describe()` with respect to (a) the number of columns it analyzes and (b) the values it reports in the "count" column<br>

##### A summary of what I thought and what ChatGPt said.
The `df.shape`does not effected by both non-numeric variables and missing values since the result of it is only about the form of the data set(the numbers of rows and colums). On the otherhand, the `df.describe()` will effected by both of them since it is used to collect the data, it will not work if there is no numeric data.

#### 5. Use your ChatBot session to help understand the difference between the following and then provide your own paraphrasing summarization of that difference

- an "attribute", such as `df.shape` which does not end with `()`
- and a "method", such as `df.describe()` which does end with `()`

- Anttribute: This kind of instruct is used to save a value or a data. It does not including computing or some                   spesific action, all the function of it is to show the saved data, and that is also why it does not                 need ().
- Method: By contrast, method can bring some new objects, it is used to to perform the calculations and actions. The         () is necessary for it since they need to have an object to calculate.

#### 6. The `df.describe()` method provides the 'count', 'mean', 'std', 'min', '25%', '50%', '75%', and 'max' summary statistics for each variable it analyzes. Give the definitions (perhaps using help from the ChatBot if needed) of each of these summary statistics<br>

- count: Number of non-null values.
- mean: The average value.
- std: The standard deviation is the average value of all the difference value.
- min: The minimum value.
- 25%: The first quartile.
- 50%: The second quartile (also the median)witch is the middle value of a dataset.
- 75%: The third quartile.
- max: The maximum value.
- In a word, that is why the result might be different. It work is calculating data and it will ignore non-numeric   data.

#### 7. Missing data can be considered "across rows" or "down columns".  Consider how `df.dropna()` or `del df['col']` should be applied to most efficiently use the available non-missing data in your dataset and briefly answer the following questions in your own words

1. Provide an example of a "use case" in which using `df.dropna()` might be peferred over using `del df['col']`<br><br>
    
2. Provide an example of "the opposite use case" in which using `del df['col']` might be preferred over using `df.dropna()` <br><br>
    
3. Discuss why applying `del df['col']` before `df.dropna()` when both are used together could be important<br><br>
    
4. Remove all missing data from one of the datasets you're considering using some combination of `del df['col']` and/or `df.dropna()` and give a justification for your approach, including a "before and after" report of the results of your approach for your dataset.<br><br>

1. `df.dropna()` : Use this to delete rows when the missing value are sparse in few rows. For example, when the                        id of one villager is missing, delete one row of villager will not cause big                                       bias.
2.  `del df['col']`: Use this when a column has many missing value. For example, when the most of villagers do not                      have song and this is not a necessary data, the column of song can deleted.
3. Before delete the rows, `del df['col']` is helpful to clean the unimportant columns. Then the rest is colums with    important data, the incomplete rows with missing important data should be droped. And it can avoid to delete too    much data.

In [15]:
df

,row_n,name,gender,species,birthday,personality,song,phrase,full_id,url
0,2,Admiral,male,bird,1-27,cranky,Steep Hill,aye aye,villager-admiral,https://villagerdb.com/images/villagers/thumb/...
1,3,Agent S,female,squirrel,7-2,peppy,DJ K.K.,sidekick,villager-agent-s,https://villagerdb.com/images/villagers/thumb/...
2,4,Agnes,female,pig,4-21,uchi,K.K. House,snuffle,villager-agnes,https://villagerdb.com/images/villagers/thumb/...
3,6,Al,male,gorilla,10-18,lazy,Steep Hill,Ayyeeee,villager-al,https://villagerdb.com/images/villagers/thumb/...
4,7,Alfonso,male,alligator,6-9,lazy,Forest Life,it'sa me,villager-alfonso,https://villagerdb.com/images/villagers/thumb/...
...,...,...,...,...,...,...,...,...,...,...
386,475,Winnie,female,horse,1-31,peppy,My Place,hay-OK,villager-winnie,https://villagerdb.com/images/villagers/thumb/...
387,477,Wolfgang,male,wolf,11-25,cranky,K.K. Song,snarrrl,villager-wolfgang,https://villagerdb.com/images/villagers/thumb/...
388,480,Yuka,female,koala,7-20,snooty,Soulful K.K.,tsk tsk,villager-yuka,https://villagerdb.com/images/villagers/thumb/...
389,481,Zell,male,deer,6-7,smug,K.K. D&B,pronk,villager-zell,https://villagerdb.com/images/villagers/thumb/...
390,483,Zucker,male,octopus,3-8,lazy,Spring Blossoms,bloop,villager-zucker,https://villagerdb.com/images/villagers/thumb/...

In [39]:
print(df.columns)

Index(['row_n', 'id', 'name', 'gender', 'species', 'birthday', 'personality',
       'phrase', 'full_id', 'url'],
      dtype='object')

In [48]:
if 'song' in df.columns:
    del df['song']
else:
    print("Column 'song' does not exist.")

Column 'song' does not exist.

In [50]:
df.dropna()

,row_n,name,gender,species,birthday,personality,phrase,full_id,url
0,2,Admiral,male,bird,1-27,cranky,aye aye,villager-admiral,https://villagerdb.com/images/villagers/thumb/...
1,3,Agent S,female,squirrel,7-2,peppy,sidekick,villager-agent-s,https://villagerdb.com/images/villagers/thumb/...
2,4,Agnes,female,pig,4-21,uchi,snuffle,villager-agnes,https://villagerdb.com/images/villagers/thumb/...
3,6,Al,male,gorilla,10-18,lazy,Ayyeeee,villager-al,https://villagerdb.com/images/villagers/thumb/...
4,7,Alfonso,male,alligator,6-9,lazy,it'sa me,villager-alfonso,https://villagerdb.com/images/villagers/thumb/...
...,...,...,...,...,...,...,...,...,...
386,475,Winnie,female,horse,1-31,peppy,hay-OK,villager-winnie,https://villagerdb.com/images/villagers/thumb/...
387,477,Wolfgang,male,wolf,11-25,cranky,snarrrl,villager-wolfgang,https://villagerdb.com/images/villagers/thumb/...
388,480,Yuka,female,koala,7-20,snooty,tsk tsk,villager-yuka,https://villagerdb.com/images/villagers/thumb/...
389,481,Zell,male,deer,6-7,smug,pronk,villager-zell,https://villagerdb.com/images/villagers/thumb/...
390,483,Zucker,male,octopus,3-8,lazy,bloop,villager-zucker,https://villagerdb.com/images/villagers/thumb/...

In [51]:
#test
df.isna().sum()

row_n          0
name           0
gender         0
species        0
birthday       0
personality    0
phrase         0
full_id        0
url            0
dtype: int64

#### 8. Give brief explanations in your own words for any requested answers to the questions below

1. Use your ChatBot session to understand what `df.groupby("col1")["col2"].describe()` does and then demonstrate and explain this using a different example from the "titanic" data set other than what the ChatBot automatically provide for you
    
> If needed, you can help guide the ChatBot by showing it the code you've used to download the data **AND provide it with the names of the columns** using either a summary of the data with `df.describe()` or just `df.columns` as demonstrated [here](../CHATLOG/COP/00017_copilot_groupby.md)
    
2. Assuming you've not yet removed missing values in the manner of question "7" above, `df.describe()` would have different values in the `count` value for different data columns depending on the missingness present in the original data.  Why do these capture something fundamentally different from the values in the `count` that result from doing something like `df.groupby("col1")["col2"].describe()`?

> Questions "4" and "6" above address how missing values are handled by `df.describe()` (which is reflected in the `count` output of this method); but, `count` in conjunction with `group_by` has another primary function that's more important than addressing missing values (although missing data could still play a role here).

3. Intentionally introduce the following errors into your code and report your opinion as to whether it's easier to (a) work in a ChatBot session to fix the errors, or (b) use google to search for and fix errors: first share the errors you get in the ChatBot session and see if you can work with ChatBot to troubleshoot and fix the coding errors, and then see if you think a google search for the error provides the necessary toubleshooting help more quickly than ChatGPT<br><br>

In [59]:
# The example from ChatGPT.
import pandas as pd

# Load the Titanic dataset
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
titanic_data = pd.read_csv(url)

# Group the data by 'class' and describe 'age' for each group
grouped_summary = titanic_data.groupby("class")["age"].describe()

print(grouped_summary)

        count       mean        std   min   25%   50%   75%   max
class
First   186.0  38.233441  14.802856  0.92  27.0  37.0  49.0  80.0
Second  173.0  29.877630  14.001077  0.67  23.0  29.0  36.0  70.0
Third   355.0  25.140620  12.495398  0.42  18.0  24.0  32.0  74.0

In [61]:
print(titanic_data.columns)

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

In [65]:
#change two variables
grouped_summary = titanic_data.groupby("sibsp")["fare"].describe()
print(grouped_summary)

       count       mean        std      min      25%      50%      75%  \
sibsp
0      608.0  25.692028  49.733052   0.0000   7.7958   9.5000  26.0000
1      209.0  44.147370  40.380919   6.4958  16.1000  26.0000  57.0000
2       28.0  51.753718  66.225403   7.9250  18.5625  23.7000  56.9844
3       16.0  68.908862  96.355121  15.8500  21.0750  25.4667  27.9000
4       18.0  31.855556   7.322546   7.9250  29.6625  31.2750  37.6125
5        5.0  46.900000   0.000000  46.9000  46.9000  46.9000  46.9000
8        7.0  69.550000   0.000000  69.5500  69.5500  69.5500  69.5500

            max
sibsp
0      512.3292
1      263.0000
2      262.3750
3      263.0000
4       39.6875
5       46.9000
8       69.5500

2. `df.describe()` will affcted by the missing value.

In [1]:
# Kernel restarted
df = pd.read_csv(url)

NameError: name 'pd' is not defined

In [3]:
# ChatGPT's result
import pandas as pd

# Load the Titanic dataset
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

# Display the first few rows to check the data
print(df.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

##### ChatBot links
- https://chatgpt.com/share/66e48207-2180-8006-85fe-2e8b3a5356bb
- https://chatgpt.com/share/66e4821a-a3f4-8006-9a76-9d5f89e50d3e